@font-face {
    font-family: 'ProximaNova';
    font-weight: 400;

    src: url('./regular.woff2') format('woff2'), url('./regular.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 500;

    src: url('./semibold.woff2') format('woff2'), url('./semibold.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 600;

    src: url('./bold.woff2') format('woff2'), url('./bold.woff') format('woff');
}

@font-face {
    font-family: 'ProximaNova';
    font-weight: 700;

    src: url('./extrabold.woff2') format('woff2'), url('./extrabold.woff') format('woff');
}
